:root {
  --primary-green: #17863c;
  --dark-text: #333;
  --light-gray:white;
}

.section1 {
  /* background-color: #72BF78; */
  padding: 30px 20px;
  text-align: center;
}

.section-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;

  color: var(--dark-text);
}

.section-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card-1 {
  background-color: white!important;
  padding: 30px 20px;
  max-width: 280px;
  border-radius: 12px;
  transition: all 0.3s ease;
  border: none !important;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.card-1:hover {
  transform: translateY(-5px);
}

.icon-wrapper {
  font-size: 36px;
  color: var(--primary-green);
  margin-bottom: 16px;
}

.card-1 h3 {
  font-size: 18px;
  color: var(--primary-green);
  margin-bottom: 10px;
}

.card-1 p {
  font-size: 14px;
  color: var(--dark-text);
  line-height: 1.6;
}
